*{
    font-family: 'Rubik', sans-serif;

}

body{

    background-color:#0f1424 ;

}

.profile-container{

    background-color:#5847eb ;


}

.time-option, .information-container{

    background-color:#1c1f4a ;


}
